<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API - Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Snapchat Meme API
        </h1>
        <p class="subtitle">
            An api for epic <strong>Memes</strong>!
        </p>
        <br>
        <h3 class="title is-4 is-spaced">Endpoints</h3>
        <hr class="is-spaced">

        <p class="title is-5"><code><a href="/api/random">/api/random</a></code> Gets a random meme from the meme folder <font color="#da1039">*</font></p>
        <p class="title is-5"><code><a href="/api/get">/api/get</a></code> Gets a meme in folder by name <font color="#da1039">*</font></p>
        <p class="title is-5"><code><a href="https://github.com/D3vd/Meme_Api">/api/reddit</a></code> Gets a random meme from reddit</p>
        <p class="title is-5">make sure to use authorization bearer and your api key</p>
        <img src="https://i.imgur.com/IUj9VJn.png">
        <p class="title is-6">more to come soon...</p>

    </div>
</section>
</body>
</html>